body {
    font-family: "Times New Roman";
    background-color: #E0E0E0;
}

.sidebar-space {
    float: right;
    height: 100vh;
    width: 10%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #0000FF;
}

.sidebar-space-2 {
    border: 1px solid black;
    float: left;
    height: 100vh;
    width: 10%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #0000FF;
}

.sidebar-space-3 {
    height: 50%;
    width: 100vh;
    margin: 20px;
    padding: 0px;
    text-align: center;
    background-color: #FF0000;
}

.post-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

#index-title {
    text-align: center;
    border: 1px solid black;
}

.my-nav {
    padding: 30px;
    text-align: center;
    height: 30%;
    background-color: #E0E0E0;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.nav-link:hover {
    color: #0000FF;
    }

.nav-link:visited {
    color: #4C0099;
}

.pagination {
    margin: 10px;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    height: 30%;
    background-color: #000000;
}

.filler {
    font-size: 40px;
}

.generic-element {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
    width: 50%;
}

.post-author {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.post-image {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.post-title {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.post-text {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.post-created-at {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: #C0C0C0;
}

.single-posting {
    list-style-type: none;
    width: 30%;
}

.single-posting li {
    width: 50%;
}