{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
<h3>Информация о посте № {{ post.pk }}</h3>
<hr>
<b>{{ post.author }}</b>
<hr4>{{ post.title }}</hr4>

{% if post.image %}
    <p><img src="{{ post.image.url }}" width="150px" height="auto"></p>
{% else %}
    <p><img src="{% static 'img/no_image.jpeg' %}" width = 200px, height="auto"></p>
{% endif %}

{{ post.text }}
<p><i>{{ post.created_at }}</i></p>
{% if user == post.author %}
<div class="bt-actions">
    <div class="bt-edit-post">
        <a href="{% url 'blog:update_post' pk=post.id %}">
            <button type="button">Редактировать</button>
        </a>
    </div>
    <div class="bt-del-post">
        <a href="{% url 'blog:delete_post' pk=post.id %}">
            <button type="button">Удалить</button>
        </a>
    </div>
{% endif %}
</div>

{% endblock content %}