{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% if user == request.user %}
    <h3>Мои посты</h3>
{% else %}
    <h3>Посты пользователя {{ user.username }}</h3>
{% endif %}
<div class="post-list">
        {% for post in posts %}
            <ul class="single-posting">
                <li class="post-title"><h3><a class="post-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3></li>
                <li class="post-author"><h3><b>{{ post.author }}</b></h3></li>
                <li class="post-image">
                {% if post.image %}
                    <p><img src="{{ post.image.url }}" width="150px" height="auto"></p>
                {% else %}
                    <p><img src="{% static 'img/no_image.jpeg' %}" width = 200px, height="auto"></p>
                {% endif %}
                </li>
                <li class="post-text"><p>{{ post.text }}</p></li>
                <li class="post-created-at"><p><i>{{ post.created_at }}</i></p></li>
            </ul>
        {% endfor %}
</div>
{% endblock content %}